<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">

        <% for(let i = 0; i < usuarios.length; i++){ %>
            <% if(usuarios[i].tipo_usuario == 'escritor'){%>
            <tr>
                <td><%= usuarios[i].nome_usuario %></td>
                <td><%= usuarios[i].email_usuario %></td>
                <td><%= usuarios[i].tipo_usuario %></td>
            </tr>
            <% } %>
        <% } %>
    </table>
</body>
</html>